<!DOCTYPE html>
<html>
<head>
  <title>Voting Poll</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

  <div class="container-fluid">
  	<h1 class="text-center">Voting Poll</h1>

    <div>
     	<h3><%= poll.title %></h3>
      	<div class="container">
	      <% poll.options.forEach((option) => { %>
	      	<div>
	      		<% const url = "/" + poll.user.displayName + "/" + poll._id %>
		      	<form method="POST" action="<%=url%>?_method=PUT">
		      		<input type="hidden" name="<%=option.option%>" value="<%=option.option%>">
		      		<button type="submit" class="btn btn-primary">
		      			<%= option.option %>
		      		</button>
		      	</form>
		      	<p> Count: <%=option.voteCount %>
	      	</div>

	  	  <% }) %>
  		</div>
    </div>

  </div>
</body>
</html>